
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<div class="top-breadcrumb">
   
</div><!--top-breadcrumb-->
<div class="clear"></div>


    @Html.Action("ProductListPartial", "Products")

