
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<h2>Your order has been placed successfully.Please click @Html.ActionLink("Here","Index","Home") to go home page</h2>

